<!DOCTYPE html>
<html lang="en">
<head>
  <title>Manage Users</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  
  <div class="users-container ui container">
    <div class="ui huge grey dividing header center aligned">Manage Users</div>
    <div class="spacerTB"></div>
    <form class="ui form">
      <div class="two fields">
        <div class="field">
          <input type="text" name="firstName" placeholder="First Name">
        </div>
        <div class="field">
          <input type="text" name="lastName" placeholder="Last Name">
        </div>
      </div>
      <div class="field">
        <div class="field">
          <select class="ui fluid search dropdown" name="level">
            <option value="admin">Admin</option>
            <option value="employee" selected>Employee</option>
          </select>
        </div>
      </div>
      <button class="ui huge green button" type="submit">Add</button>
    </form>

    <div class="ui huge grey dividing header center aligned">View/Edit Users</div>
    <div class="spacerTB"></div>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Level</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody class="list-users">
        <!-- User data goes here -->
      </tbody>
    </table>
  </div>

  <!-- User data modal -->
  <div class="modal userModal">
    <div class="modal-header">
      <!-- Title will go here -->
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Date</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody class="list-users-data">
          <!-- User data goes here -->
        </tbody>
      </table>
    </div>
  </div>

  <script> let exports = {}; // This fixes exports not defined bug </script>
  <script src="../public/js/manageUsers.js"></script>
  <script src="../public/js/main.js"></script>
</body>
</html>
