<!DOCTYPE html>
<html lang="en">
<head>
  <title>App Settings</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  
  <div class="users-container ui container">
    <div class="ui huge grey dividing header center aligned">App Settings</div>
    <div class="spacerTB"></div>
  </div>

  <script>let exports = {}; // This fixes exports not defined bug</script>
  <script src="../public/js/settings.js"></script>
  <script src="../public/js/main.js"></script>
</body>
</html>
