/**
 * Variables
 */
/* Universal */
body {
  background: #e5e5e5; }

.spacerTB {
  padding: 0.5em 0; }

.blackBorder {
  border: 1px solid #000; }

.spacerLR {
  padding: 0 0.5em; }

.scroller {
  overflow: auto;
  max-height: calc(70vh); }

.text-center {
  text-align: center !important; }

.notification-container {
  position: relative;
  z-index: 99; }

.display-none {
  display: none; }

/* Main screen */
.main-container {
  padding: 2em 0;
  /* Level 1 */ }
  .main-container .buttons {
    padding: 1em 0; }
    .main-container .buttons button {
      margin-bottom: 1em; }
  .main-container .loadClock {
    padding: 1em 0;
    font-size: 5rem;
    font-weight: bold;
    border: 1px #000 dotted; }
    .main-container .loadClock .seconds {
      font-size: 3rem;
      font-weight: bold; }

/* Date Input */
input[type='date'] {
  border-radius: 0.5em;
  border: 1px #c5c5c5 solid;
  padding: 0.5em;
  outline: none; }

input[type='date']:focus {
  box-shadow: 0 0 1px 1px skyblue; }

/* Manage users */
.users-container {
  padding: 2em 0; }

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5); }
  .modal .inner-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* Modal Header */
    /* Modal Body */
    /* The Close Button */ }
    .modal .inner-modal .modal-header {
      background-color: #fefefe;
      margin: auto;
      padding: 1em;
      border: 1px solid #888;
      width: 80%; }
      .modal .inner-modal .modal-header h1, .modal .inner-modal .modal-header h2, .modal .inner-modal .modal-header h3, .modal .inner-modal .modal-header h4, .modal .inner-modal .modal-header h5, .modal .inner-modal .modal-header h6 {
        display: inline; }
    .modal .inner-modal .modal-body {
      background-color: #fefefe;
      margin: auto;
      padding: 1em;
      border: 1px solid #888;
      width: 80%; }
      .modal .inner-modal .modal-body tbody tr td div,
      .modal .inner-modal .modal-body tbody tr td div input {
        width: 100%;
        overflow: auto; }
      .modal .inner-modal .modal-body tbody tr td div input[disabled] {
        opacity: 0.7 !important; }
      .modal .inner-modal .modal-body .hours {
        color: blue; }
    .modal .inner-modal .close {
      color: lightgrey;
      float: right;
      font-size: 2em;
      font-weight: bold; }
    .modal .inner-modal .close:hover,
    .modal .inner-modal .close:focus {
      color: #111;
      text-decoration: none;
      cursor: pointer; }

/* Admin Confirm Modal */
.admin-confirm .inner-modal {
  width: 50%; }
