/**
 * Variables
 */
/* Universal */
body {
  background: #e5e5e5; }

.spacerTB {
  padding: 0.5em 0; }

.blackBorder {
  border: 1px solid #000; }

.spacerLR {
  padding: 0 0.5em; }

/* Main screen */
.main-container {
  padding: 2em 0;
  /* Level 1 */ }
  .main-container .buttons {
    padding: 1em 0; }
    .main-container .buttons button {
      margin-bottom: 1em; }
  .main-container .loadClock {
    padding: 1em 0;
    font-size: 5rem;
    font-weight: bold;
    border: 1px #000 dotted; }
    .main-container .loadClock .seconds {
      font-size: 3rem;
      font-weight: bold; }

/* Manage users */
.users-container {
  padding: 2em 0; }

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 15em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  /* Modal Header */
  /* Modal Body */
  /* The Close Button */ }
  .modal .modal-header {
    background-color: #fefefe;
    margin: auto;
    padding: 1em;
    border: 1px solid #888;
    max-width: 80%; }
    .modal .modal-header h1, .modal .modal-header h2, .modal .modal-header h3, .modal .modal-header h4, .modal .modal-header h5, .modal .modal-header h6 {
      display: inline; }
  .modal .modal-body {
    background-color: #fefefe;
    margin: auto;
    padding: 1em;
    border: 1px solid #888;
    max-width: 80%; }
  .modal .close {
    color: lightgrey;
    float: right;
    font-size: 2em;
    font-weight: bold; }
  .modal .close:hover,
  .modal .close:focus {
    color: #111;
    text-decoration: none;
    cursor: pointer; }
