/**
 * Variables
 */

$assortedPercents: (
  verySmall: 10%,
  small: 30%,
  medium: 50%,
  large: 80%,
  full: 100%
);

$assortedNums: (
  veryLight: 0.5em,
  light: 1em,
  medium: 2em,
  heavy: 3em,
  veryHeavy: 5em
);

$colors: (
  white: white,
  red: red,
  blue: blue,
  skyblue: skyblue,
  green: green,
  lightGreen: lightgreen,
  purple: purple,
  yellow: yellow,
  lightGrey: lightgrey,
  darkGrey: #333,
  nearBlack: #111,
);

@function assortedPercents($p) {
  @return map-get($assortedPercents, $p);
}

@function assortedNums($n) {
  @return map-get($assortedNums, $n);
}

@function colors($c) {
  @return map-get($colors, $c);
}

/* Universal */
body {
  background: #e5e5e5;
}

.spacerTB {
  padding: assortedNums(veryLight) 0;
}

.blackBorder {
  border: 1px solid #000;
}

.spacerLR {
  padding: 0 assortedNums(veryLight);
}

.scroller {
  overflow: auto;
  max-height: calc(70vh);
}

.text-center {
  text-align: center!important;
}

.notification-container {
  position: relative;
  z-index: 99;
}

/* Main screen */
.main-container {
  padding: assortedNums(medium) 0;
  /* Level 1 */
  .buttons {
    padding: assortedNums(light) 0;

    button {
      margin-bottom: assortedNums(light);
    }

  }

  .loadClock {
    padding: assortedNums(light) 0;
    font-size: 5rem;
    font-weight: bold;
    border: 1px #000 dotted;

    .seconds {
      font-size: 3rem;
      font-weight: bold;
    }
  }
}

/* Date Input */
input[type='date'] {
  border-radius: assortedNums(veryLight);
  border: 1px #c5c5c5 solid;
  padding: assortedNums(veryLight);
  outline: none;
}

input[type='date']:focus {
  box-shadow: 0 0 1px 1px skyblue;
}

/* Manage users */
.users-container {
  padding: assortedNums(medium) 0;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
  
  .inner-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    /* Modal Header */
    .modal-header {
      background-color: #fefefe;
      margin: auto;
      padding: 1em;
      border: 1px solid #888;
      width: 80%;
  
      h1,h2,h3,h4,h5,h6 {
        display: inline;
      }
    }
  
    /* Modal Body */
    .modal-body {
      background-color: #fefefe;
      margin: auto;
      padding: 1em;
      border: 1px solid #888;
      width: 80%;
  
      tbody tr td div,
      tbody tr td div input {
        width: 100%;
        overflow: auto;
      }
  
      tbody tr td div input[disabled] {
        opacity: 0.7!important;
      }

      .hours {
        color: colors(blue);
      }
    }
  
    /* The Close Button */
    .close {
      color: colors(lightGrey);
      float: right;
      font-size: 2em;
      font-weight: bold;
    }
  
    .close:hover,
    .close:focus {
      color: colors(nearBlack);
      text-decoration: none;
      cursor: pointer;
    }
  }
}

/* Admin Confirm Modal */
.admin-confirm {
  .inner-modal {
    width: 50%;
  }
}
